#!/bin/bash

# for direnv
export DOCKER_BUILDKIT=1
export BUILDKIT_PROGRESS="plain"

export DOCKER_REGISTRY="ghcr.io/jinserk"
export GIT_REF=$(git rev-parse --short=8 HEAD)
export IMG_TAG="${GIT_REF}"
export APP_DIR="/reflex-app"

export PKG_PATH="$( cd "$( dirname "${BASH_SOURCE[0]}" )" &> /dev/null && pwd )"
export PATH=${PATH}:"${PKG_PATH}/.bin"
